*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0 auto;
	max-width: 1500px;
}

.items{
	margin-top: 60px;
	font-size: 0;
}

.item{
	font-size: 20px;
	width: 30%;
	min-height: 250px;
	background:#F2F2F2;
	outline: 1px solid #5A5A5A;
	display: inline-block;
	text-align: center;
}

.item:nth-child(4){margin: 10px 0px;}

.item:nth-child(2), 
.item:nth-child(5), 
.item:nth-child(8){
	margin: 0 5%;
}

.list{
	width: 100%;
	margin: 0 !important; 
}

.list:not(:first-child){
	margin-top: 10px !important;
}

@media screen and (max-width: 1024px) {
	.items{margin-top: 0;}

	.item:nth-child(2), 
	.item:nth-child(5), 
	.item:nth-child(8){margin: 0 ;}

	.item:nth-child(8){margin: 10px 0px;}

	.item{width: 48.8%;}

	.item:nth-child(1), 
	.item:nth-child(3), 
	.item:nth-child(5), 
	.item:nth-child(7){margin-right: 2.35%;}

	.list{width: 100%;margin: 0 !important; }
	.list:not(:first-child){margin-top: 10px !important;}

}

@media screen and (max-width: 768px) {
	.items{margin-top: 0;}
	.item:nth-child(1), 
	.item:nth-child(3), 
	.item:nth-child(5), 
	.item:nth-child(7){margin-right: 0;}


	.item:nth-child(2),  
	.item:nth-child(4),
	.item:nth-child(6),  
	.item:nth-child(8){margin: 5px 0;}

	.item{width: 100%;}
	