*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0 auto;
	font-family: sans-serif;
	font-weight: bold;
}


.main_div{
	text-align: center;
	margin-top: 350px;
}
.main_div a{
	transition: 0.7s;
	display: inline-block;
	text-decoration: none;
	color: #44A36F;
	border: 3px solid #44A36F;
	border-radius: 10px;
	background: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	text-transform: uppercase;
}
.main_div a:hover{
	transition: 1.2s;
	color: #fff;
	border: 3px solid #308355;
	background: #5FC18B;
}

.main_div a:first-child{
	margin-right: 40px;
}


