@font-face {
	font-family: "Quicksand";
	src: url("../fonts/quicksand.book-regular.otf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf");
}

body{
	margin: 0 auto;
	width:1024px;
}

*{
	margin: 0;
	padding: 0;
}
nav{
	background:#373C3F;
	width: 100%;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 50px;
}

nav li{
	height:95px;
	display: inline-block;
	*display:inline; /* ie7 */
	line-height: 95px;
}

nav li:not(:first-child){
	margin-left: -4px;
}

nav li a{
	padding: 0 20px;
	transition: 1s;
	display: block;
	color:#fff;
	font-size: 15px;
	font-family: Montserrat; 
	text-decoration: none;
	text-transform: uppercase;
}
nav li a:hover{
	transition: 1s;
	color:#373C3F;
	background:#fff;
}

.big_banner{
	width: 100%;
	height: 575px;
	background-image: url("../images/Banner1.png");
	background-repeat: no-repeat;
}

.big_banner h1{
	padding: 150px 20px 50px 90px;/* в медия*/
	color: #fff;
	font-size: 60px;/* в медия*/
	font-family: Montserrat; 
}

.big_banner p{
	padding: 0px 0px 0px 90px;/* в медия*/
	color: #A6D5DE;
	font-size: 34px;/* в медия*/
	font-family: Montserrat; 
}

.big_banner p a{
	color: #A6D5DE;
	text-decoration: none;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 100% 50%;
	padding-right: 200px;
}
.big_banner p a:hover{
	color:#fff;
}


.middle_banner{
	margin: 0;
	padding: 0;
	height: 240px;
}

.middle_banner .item-1{
	color: #9585A4;
	background: #27212C;
	display: inline-block;
	width: 764px;
	vertical-align: top;
	font-size: 30px;/* в медия*/
	font-family: Montserrat; 
}

.middle_banner .item-1 p{
	line-height: 240px;
	vertical-align: middle;
	text-align: center;
}

.middle_banner .item-2{
	display: inline-block;
	margin-left: -4px;
}

.middle_banner .item-2 a{
	margin: 0;
	display: block;
	transition: .7s;
	height: 240px;
	width:260px;
	background:#BC3183;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 50% 50%;
}
.middle_banner .item-2 a:hover{
	transition: .7s;
	background-color:#800080;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.small_banner{
	margin: 0;
	font-size: 0;
	/*outline: 1px dashed #fff;*/
	width: 340px;
	height: 290px;
	display: inline-block;
}
.small_banner a{
	display: block;
	color:black;
	transition: .7s;
	width: 344px;
	height: 290px;
	background:#5B0FA1;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 50% 50%;
}

.small_banner a:hover{
	transition: .7s;
	background-color:#800080;
}

.small_banners .item-2{
	margin-left: -1px;
	background-image: url("../images/2.png");
	background-size: 343px 290px;
	background-repeat: no-repeat;
}

.small_banners .item-3{
	margin-left: -4px;
	transition: 1s;
	background-image: url("../images/3.png");
	background-size: 347px 290px;
	background-repeat: no-repeat;
}

.small_banners .item-3:hover{
	transition: 0.5s;
	background-image: url("../images/3-1.png");
	background-size: 346px 290px;
	background-repeat: no-repeat;
}

footer{
	font-family: Montserrat; 
	background:#EBEBEB;
	margin-top: -4px;
	padding: 30px;
}

footer h3{
	font-size: 30px;
	color:#009999;
}

footer div{
	
	width:460px;
	display: inline-block;
}

footer p{
	font-size: 14px;
	margin-top: 10px;
}

@media screen and (max-width: 980px) {
	body{
	width:980px;
	}	

	.big_banner{
	width: 100%;
	height: 550px;
	}

	.middle_banner{
	height: 233px;
	}
	.middle_banner .item-1{
	width: 760px;
	}
	.middle_banner .item-1 p{
	line-height: 233px;
	}
	.middle_banner .item-2 a{
	margin: 0;
	display: block;
	transition: .7s;
	height: 233px;
	width:220px;

	}

	.small_banners{
	height: 280px;
	}
	.small_banner{
	width: 326px;
	height: 280px;
	display: inline-block;
	}
	.small_banner a{
	transition: .7s;
	width: 328px;
	height: 280px;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 50% 50%;
	}
	.small_banners .item-2{
	margin-left: -2px;
	background-image: url("../images/2.png");
	background-size: 327px 280px;
	}
	.small_banners .item-3{
	margin-left: -4px;
	transition: 1s;
	background-image: url("../images/3.png");
	background-size: 326px 280px;
	}
	.small_banners .item-3:hover{
	transition: 0.5s;
	background-image: url("../images/3-1.png");
	background-size: 326px 280px;
	}
	footer{
	padding: 30px;
	}

	footer div{
	width:440px;
	display: inline-block;
	}
}


@media screen and (max-width: 640px) {
	body{
	margin: 0 auto;
	width:640px;
	}	
	nav {
	position: relative;
	}	
	nav ul {
	color: #fff;
	width: 640px;
	min-height: 73px;
	line-height: 73px;
	background-color:#373C3F;
	background-image: url(../images/icon-menu.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	margin-left: 0;
	}

	nav li {
	display: none; /* скрыть все <li> пункты */
	margin: 0;
	height: 73px;
	line-height: 73px;
	}

	nav a {
	display: block;
	text-align: left;
	}

	/* при наведении на пункты меню */
	nav ul:hover {
	background-image: none;
	}
	
	nav ul:hover li {
	display: block;
	}

	/* адаптивное меню справа */
	nav.right ul {
	left: auto;
	right: 0;
	}

	.big_banner{
	width: 100%;
	height: 345px;
	}

	.middle_banner{
	height: 148px;
	background:#BC3183;
	}
	.middle_banner .item-1{
	width: 494px;
	}
	.middle_banner .item-1 p{
	line-height: 148px;
	}
	.middle_banner .item-2 a{
	height: 148px;
	width:145px;
	background-size: 15px;
	}

	.small_banners{
	height: 548px;
	}
	.small_banner{
	width: 640px;
	height: 548px;
	display: block;
	}
	.small_banner a{
	transition: .7s;
	width: 640px;
	height: 548px;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 50% 50%;
	}
	.small_banners .item-2{
	margin-top:-4px; 
	margin-left: 0px;
	background-image: url("../images/2.png");
	background-size: 640px 548px;
	}
	.small_banners .item-3{
	margin-top:-4px; 
	margin-left: 0px;
	transition: 1s;
	background-image: url("../images/3.png");
	background-size: 640px 548px;
	}
	.small_banners .item-3:hover{
	transition: 0.5s;
	background-image: url("../images/3-1.png");
	background-size: 640px 548px;
	}
	footer{
	margin-top: 1088px;
	padding: 72px;
	}

	footer div{
	width:496px;
	}
	footer div:last-of-type{
	display: none;
	}

	.big_banner h1{
	padding: 100px 20px 30px 60px;
	font-size: 40px;
	}
	.big_banner p{
	padding: 0px 0px 0px 60px;
	font-size: 24px;
	}

	.big_banner p a{
	padding-right: 150px;
	background-size: 12px;
	}

	.middle_banner .item-1{
	font-size: 20px;
	}
	.small_banner a{
	background-size: 30px;
	}
}

@media screen and (max-width: 320px) {
	body, 
	header,
	nav,
	 .banners{
	width:320px;
	}
	nav ul{
	width: 320px;
	min-height: 50px;
	line-height: 50px;
	}

	.big_banner{
	width: 100%;
	height: 175px;
	width: 320px;
	}

	.big_banner h1{
	font-size: 30px;
	}

	.big_banner p{
	font-size: 15px;
	}

	.big_banner p a{
	color: #A6D5DE;
	text-decoration: none;
	background-size: 10px;
	padding-right: 100px;
	}

	.middle_banner{
	height: 73px;
	background:#BC3183;
	width: 320px;
	}
	.middle_banner .item-1{
	width: 248px;
	}
	.middle_banner .item-1 p{
	line-height: 73px;
	}
	.middle_banner .item-2 a{
	height: 73px;
	width:69px;
	}

	.small_banners{
	height: 273px;
	}
	.small_banner{
	width: 320px;
	height: 273px;
	display: block;
	}
	.small_banner a{
	transition: .7s;
	width: 320px;
	height: 273px;
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 50% 50%;
	}
	.small_banners .item-2{
	margin-top:-4px; 
	margin-left: 0px;
	background-image: url("../images/2.png");
	background-size: 320px 273px;
	}
	.small_banners .item-3{
	margin-top:-4px; 
	margin-left: 0px;
	transition: 1s;
	background-image: url("../images/3.png");
	background-size: 320px 273px;
	}
	.small_banners .item-3:hover{
	transition: 0.5s;
	background-image: url("../images/3-1.png");
	background-size: 320px 273px;
	}
	footer{
	margin-top: 540px;
	width:256px;
	padding: 32px;
	}
	footer div{
	width:256px;
	}
	.big_banner h1{
	padding: 50px 20px 15px 30px;
	font-size: 20px;
	}
	.big_banner p{
	padding: 0px 0px 0px 30px;
	font-size: 15px;
	}

	.big_banner p a{
	padding-right: 80px;
	background-size: 8px;
	}

	.middle_banner .item-1{
	font-size: 12px;
	}
	.middle_banner .item-2 a{
	background-size: 12px;
	}
	.small_banner a{
	background-size: 30px;
	}
}