
nav a{
  text-decoration:none;
}
nav{
  width: 460px;
  height:83px;
  position:relative;
  margin-left: 175px;
  float: left;
}
nav>ul{
  position:relative;
  list-style:none;
  padding:0;
  margin:0;
}
nav>ul>li>ul{
  position:absolute;
  left:0;
  padding:0;
  margin:0;
  list-style:none;
}

nav>ul>li{
  float:left;
  position:relative;
}
nav>ul>li>a{
  transition: 1.2s;
  padding:0 20px;
  display:block;
  line-height:83px !important;
  text-decoration:none;
}

nav>ul>li>a:hover{
  transition: 1.2s;
  background:#12A3D6;
  color: #ccffff;
}


.lamp span{
  display:block;
  height:10px;
  background:#0080B7;
  position: relative;
}
.lamp span:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #0080B7;
	border-width: 5px;
	margin-left: -4px;
}
.lamp{
  position:absolute !important;
  height:4px;
  top:73px;
  background:#0099cc;
  transition:all .3s linear;
  -o-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
}

